

.full-background {
    background-color: lightblue;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;
    position: relative;
    background-attachment: fixed !important;
}

.welcome-full {
    color:white;
    font-family: 'Assistant', sans-serif;
    font-weight:300px !important;
    font-size: 60px;
    max-width: 50%;
    font-weight: ;
}

.welcome-partial {
    color:white;
    font-family: 'Assistant', sans-serif;
    font-weight: 300px !important;
    font-size: 35px;
    max-width: 50%;
}

.hero-area {
    padding-top: 15.5%;
    max-height: 100%; 
    width: 100%;
    padding-left: 6%;
    max-width: 70%;
}

.nav-block {

    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    text-decoration: none;
    text-align: center;
    overflow:hidden;
    position:absolute;
    top:0;
    width: 100%;
    font-family: 'Assistant', sans-serif;
    color:white;
    font-size: 25px;

}